@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
	--dark-grey: #363636;
	--red: #ff4b4b;
	--green: rgb(27, 155, 72);
}

.bold-red {
	color: var(--red);
	font-weight: 600;
}

.bold-green {
	color: var(--green);
	font-weight: 600;
}
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Rubik", sans-serif;

	scroll-margin-top: 10rem;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

.scroll-container {
	height: 100vh;
	-webkit-overflow-scrolling: touch;
}

.section {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
	background-color: #fff;
}

#contacts {
	background-color: var(--red);
}

.section2 {
	height: fit-content;
	scroll-snap-align: start;
	display: flex;
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: #fff;
	background-color: var(--dark-grey);
}

.section3 {
	height: fit-content;
	scroll-snap-align: start;
	display: flex;
	padding-top: 5vh;
	padding-bottom: 5vh;
	color: var(--dark-grey);
	background-color: #fff;
	text-align: center;
	flex-direction: column;
}

.image-section {
	background-image: url("/assets/solar-images/0b.JPEG");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	border-right: 2px solid white;
	justify-content: center;
	align-items: center;
}

.title_1 {
	font-size: 5rem;
	font-weight: 600;
	color: var(--dark-grey);
	border-radius: 2rem;
}

.title_2 {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--dark-grey);
	border-radius: 1rem;
	border-bottom: var(--red) 4px solid;
}

.blur-background {
	width: 100%;
	height: 14rem;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	box-shadow: inset 0 0 2px 2px white;
}

.text-container {
	text-align: center;
}

.landingpage-right-container {
	width: 100%;
	height: 100vh;
	padding-top: 15vh;
	text-align: center;
}

.textbox-1 {
	border: 2px solid white;
	padding: 2rem;
	border-radius: 10px;
	width: 80%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	color: var(--dark-grey);
	font-size: 1.7rem;
	font-weight: 400;
	background: rgba(255, 112, 112, 0.25);
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}

.heading3-button-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}

.button-more {
	width: 12rem;
	border: var(--red) 2px solid;
	border-radius: 10px;
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--red);
	line-height: 2rem;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	background-color: #fff;
}

.button-query {
	width: 12rem;
	border: var(--red) 2px solid;
	border-radius: 10px;
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: var(--red);
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.button-query:hover {
	background-color: #fff;
	color: var(--red);
}

.button-more:hover {
	background-color: var(--red);
	color: #fff;
}

.more-info-box1 {
	box-shadow: inset 8px 8px 7px 0px rgba(0, 0, 0, 0.1);
	height: fit-content;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 1rem;
	padding: 2rem;
	font-size: 2rem;
	font-weight: 500;
	text-align: justify;
	line-height: 2rem;
	color: #363636;
}

.answer1 {
	font-size: 1.5rem;
	text-decoration: none;
	margin-top: 0.5rem;
}

.question-outer-box {
	margin-top: 1vh;
	height: fit-content;
	padding: 0.5rem;
	width: 80%;
	border-radius: 1rem;
	margin-left: auto;
	margin-right: auto;
	background: rgb(255, 75, 75);
	background: linear-gradient(
		270deg,
		rgba(255, 75, 75, 1) 0%,
		rgba(255, 186, 186, 1) 50%,
		rgba(255, 75, 75, 1) 100%
	);
}

.mobile-landing-image {
	display: none;
}

.questions-container {
	display: flex;
	flex-direction: column;
	row-gap: 1vh;
}

.icons-con {
	display: flex;
	gap: 5vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.textbox-2 {
	height: fit-content;
	font-size: 1.6rem;
	font-weight: 600;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	color: var(--dark-grey);
	margin-top: 1vh;
}

.bullet-list {
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-weight: 400;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.bullet-item {
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.bullet-item:hover {
	transform: scale(1.1);
}
.bullet-icon {
	height: 20px;
	width: 20px;
	margin-right: 1vw;
	margin-left: 1vw;
}

.bullet-icon2 {
	height: 20px;
	width: 20px;
	margin-right: 1vw;
	margin-left: 1vw;
}

.accordion-item {
	background-color: #ffffff;
	border-radius: 1rem;
	font-family: "Titillium Web", sans-serif;
	font-weight: 700;
	border: 1px solid red;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.accordion-item hr {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link {
	font-family: "Rubik", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--red);
	text-decoration: none;
	background-color: #ffffff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
}

.accordion-dark {
	background-color: var(--dark-grey);
}

.accordion-link h3 {
	font-weight: 500;
	font-size: 1.6rem;
	font-family: "Rubik", sans-serif;
}

.accordion-link i {
	color: #000000;
	padding: 0.5rem;
}

.answer {
	max-height: 0;
	overflow: hidden;
	position: relative;
	background-color: #ffffff;
	transition: max-height 500ms;
}
.answer p {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	color: var(--dark-grey);
	font-size: 1.2rem;
	padding: 1rem;
}

.accordion-item:target .answer {
	max-height: 5rem;
}

.accordion-item:target .answer.collapsed {
	max-height: 0;
}

.faq-container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.faq-parent {
	padding-top: 3vh;
	margin-bottom: 10rem;
}

.faq-title {
	font-family: "Rubik", sans-serif;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	color: var(--dark-grey);
	margin-bottom: 4vh;
}

.questionicon {
	height: 25px;
	width: 25px;
}

.section-benefits {
	height: fit-content;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--dark-grey);
}
.benefits-container {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(30vw, 2fr)
	); /* Responsive grid */
	gap: 20px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.benefits-container .card {
	position: relative;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.benefits-container .card .face {
	width: 20vw;
	height: 15vh;
	transition: 0.5s;
}

.benefits-container .card .face.face1 {
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(7.4vh);
}

.benefits-container .card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0);
}

.benefits-container .card .face.face1 .content {
	opacity: 0.2;
	transition: 0.5s;
}

.benefits-container .card:hover .face.face1 .content {
	opacity: 1;
}

.benefits-container .card .face.face1 .content img {
	max-width: 100px;
}

.benefits-container .card .face.face1 .content h3 {
	margin: 0px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.benefits-container .card .face.face2 {
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transform: translateY(-7.5vh);
	height: auto;
}

.benefits-container .card:hover .face.face2 {
	transform: translateY(0);
}

.benefits-container .card .face.face2 .content p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	text-align: justify;
}

.benefits-container .card .face.face2 .content a {
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.kontakti {
	color: #fff;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	font-size: 2rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.kontakti-podaci {
	font-weight: 400;
	font-size: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: white;
	width: fit-content;
	font-family: "Rubik", sans-serif;
	column-gap: 2rem;
}

.potpis {
	color: rgb(255, 255, 255);
	font-family: "Rubik", sans-serif;
	font-weight: 100;
	font-size: 0.75rem;
	margin-left: auto;
	width: 20%;
	font-style: italic;
}

.benefits-container .card .face.face2 .content a:hover {
	background: #333;
	color: #fff;
}

.query {
	background-color: var(--red);
}

.form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding-bottom: 1rem;
	margin-bottom: 5px;
	padding-top: 1rem;
}
.checkradioInput {
	display: flex;
	gap: 1rem;
	border-bottom: 1px #000 solid;
}

.single-input {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 75%;
}

.single-input input {
	transition: transform 0.3s ease;
}

.single-input input:focus {
	transform: scale(1.05);
}

.text-input {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 2;
	border: #000 1px solid;
	border-radius: 10px;
	padding-left: 1rem;
	margin-bottom: 5px;
}

.input-option {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}

@media (max-width: 768px) {
	.section {
		height: 95vh;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		font-size: 24px;
		color: #fff;
		background-color: #fff;
	}

	.title_1 {
		font-size: 4rem;
	}

	.title_2 {
		font-size: 2rem;
	}

	.blur-background {
		height: 10vh;
		padding: 1rem;
	}

	.image-section {
		background-size: cover;
		background-position: center;
		height: 50vh;
		width: 100%;
		padding: 50px 0;
	}

	.more-info-box1 {
		height: fit-content;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		border-radius: 5px;
		font-size: 18px;
		font-weight: 400;
		text-align: justify;
		line-height: 18px;
	}

	.answer1 {
		font-size: 12px;
		margin-top: 5px;
		text-decoration: none;
	}

	.question-outer-box {
		height: fit-content;
		padding: 0;
		padding-top: 1vh;
		padding-left: 1vh;
		width: 80%;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
	}
	.landingpage-right-container {
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		padding-top: 10vh;
	}

	.title_1 {
		font-size: 32px;
	}

	.title_2 {
		font-size: 20px;
	}

	.textbox-1 {
		font-size: 16px;
		margin-top: -20px;
	}

	.image-section {
		background-image: none;
		background-size: auto;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		border-right: 2px solid white;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.text-container {
		width: 100vw;
	}

	.mobile-landing-image {
		display: block;
		height: 40vh;
	}

	.heading3-button-container {
		background-color: #fff;
	}

	.button-more {
		width: 10rem;
		font-size: 16px;
	}

	.button-query {
		width: 10rem;
		font-size: 16px;
	}

	.textbox-2 {
		height: fit-content;
		font-size: 1rem;
		font-weight: 600;
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		color: var(--dark-grey);
		margin-top: 1vh;
	}

	.bullet-list {
		margin-top: 1vh;
		margin-bottom: 1vh;
		font-weight: 400;
		text-align: center;
	}

	.bullet-item {
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
	.bullet-icon {
		height: 10px;
		width: 10px;
		margin-right: 1vw;
		margin-left: 1vw;
	}
	.bullet-icon2 {
		display: none;
	}
}
.more-info-box1 {
	transition: transform 0.5s ease-in-out;
	padding-right: 20px;
}

.more-info-box1:hover {
	transform: translateX(-3vw);
}
